# General Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# uv
# The virtual environment is managed by uv
.venv
.uv

# Editors / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Ruff
.ruff_cache/

# input and output files
songs/input
songs/output